{% extends 'back_office/base.html.twig'%}

{% block content %}
    <h1>Hebergement</h1>
    <form  method="post" action="{{ path('app_hebergement_delete', {'idheberg': hebergement.idheberg}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet hebergement ?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hebergement.idheberg) }}">
        <button class="btn btn-danger btn-sm float-sm-right"><i class="fa fa-trash"></i></button>

    </form>
    <table class="table">
        <tbody>
            <tr>
                <th>Idheberg</th>
                <td>{{ hebergement.idheberg }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ hebergement.address }}</td>
            </tr>

            <tr>
                <th>Type</th>
                <td>{{ hebergement.type }}</td>
            </tr>
            <tr>
                <th>Capacitechambre</th>
                <td>{{ hebergement.capacitechambre }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ hebergement.disponibilite }}</td>
            </tr>
            <tr>
                <th>Disponibilite_parking</th>
                <td>{{ hebergement.disponibiliteParking }}</td>

            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ asset('uploads/images/' ~ hebergement.photo) }}" width="70" height="70"></td>
            </tr>
        </tbody>

    </table>

    <a class="btn btn-primary" href="{{ path('app_hebergement_index') }}">Back to list</a>

    <a href="{{ path('app_hebergement_edit', {'idheberg': hebergement.idheberg}) }}"><button class="btn btn-success btn-sm"><i class="fa fa-edit"></i></button></a>


{% endblock %}
