{% extends 'back_office/base.html.twig' %}

{% block content %}
<section class="select2-container--bootstrap4" id="contact"  >
    <div class="select2-container--bootstrap4" style="height: 46rem; overflow: hidden;">
    <h1  class="mb-2 offset-md-4" style="margin-top: 2rem;">List reclamation</h1>
    <table class="table" style="margin-top: 2rem;">
        <thead>
            <tr>
                <th>Id User </th>
                <th>Idrec</th>
                <th>EvenementID</th>
                <th>HebergementID</th>
                <th>TransportID</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.idrec }}</td>
                <td>{{ reclamation.idevent }}</td>
                <td>{{ reclamation.idheberg }}</td>
                <td>{{ reclamation.idtransport }}</td>
                <td>{{ reclamation.contenu }}</td>
                <td>{{ reclamation.date ? reclamation.date|date('Y-m-d') : '' }}</td>
                <td>{{ reclamation.etat ? 'Yes' : 'No' }}</td>
                <td>
                    <button class="btn-flat"><a href="{{ path('app_reclamation_show', {'idrec': reclamation.idrec}) }}">show</a></button>
                    <button class="btn-flat"><a href="{{ path('app_reclamation_edit', {'idrec': reclamation.idrec}) }}">edit</a></button>
                    <button class="btn-flat"><a href="{{ path('app_reclamation_delete', {'idrec': reclamation.idrec}) }}">delete</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
    <section
{% endblock %}
