<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Welcome to the Space Bar!</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
            font-family: Helvetica, Arial, sans-serif;
        }
        h1 {
            background-color: #264459;
            color: #ffffff;
            padding: 30px 0 50px 0;
            font-weight: normal;
        }
        hr {
            border: none;
            border-top: 3px solid #264459;
            margin: 20px;
        }
        .container {
            background-color: #fefefe;
            width: 580px;
            margin: 0 auto;
        }
        .bottom {
            background-color: #efefee;
        }
        .block {
            margin: 0;
            padding: 10px 20px 20px 20px;
        }
        .logo {
            width: 100%;
        }
        .text-center {
            text-align: center;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #264459;
            color: #fefefe;
            border: 1px solid #fff;
            border-radius: 3px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
            <a href="{{ url('home') }}">
                <img src="{{ absolute_url(asset('images/logo.jpg')) }}" class="logo" alt="Black Ops">
            </a>
        </div>
        <div class="content">
            <h1 class="text-center">Nice to meet you {{ user.nom }} {{ user.prenom }}!</h1>
            <p class="block">
                Welcome to <strong>Tunitrips</strong>, you just submitted to a reservation.
            </p>
            <p class="block text-center">
                <a href="{{ url('app_evenement_indexf') }}" class="btn">Check more events</a>
            </p>

        </div>
        <div class="footer">
            <p class="block">
                Cheers,<br><br>
                Your friendly <em>Tunitrips Team</em>
            </p>
            <p class="block bottom text-center">
                Sent with ❤️ from the friendly folks at The Events universe
            </p>
        </div>
    </div>
</div>
</body>
</html>