{% extends 'back_office/base.html.twig' %}

{% block content %}
    <style>
        .img{
            width: 60px;
            height: 60px;
            background-size: cover;
            display: block;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
        }
    </style>



    <section class="content">
    <div class="select2-container--bootstrap4">
    <div class="row">
    <div class="col-12">
    <div class="card">
    <div class="card-header">
        <h3 class="card-title">DataTable with minimal features & hover style</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
    <table  border="2" id="example2" class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Passwd</th>
                <td>{{ user.passwd }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ user.country }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.role }}</td>
            </tr>

            <tr>
                <th>Photo</th>
                <div  >
                    <td> <img  src="{{ asset('uploads/images/')}}{{ user.photo }}" alt="" class="img"></td>

                </div>
            </tr>
            <tr>
                <th>NumTel</th>
                <td>{{ user.numTel }}</td>
            </tr>
            <tr>
                <th>Valide</th>
                <td>{{ user.valide ?  'No' }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ user.etat ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <form class="form-group vertical">
        <button class="btn btn-success"> <a href="{{ path('app_user_index') }}">back to list</a></button>
        <button class=" btn btn-secondary"> <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a></button>
    </form>

{% endblock %}